<!-- Author information is given in the page  -->

<!DOCTYPE html>
<html>
<head>
	<title>My Blog</title>
</head>
<body>

<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Source+Code+Pro:400,700' rel='stylesheet' type='text/css'>

<div> 
	<b>
		<div>May 10 2018</div>
		<h2>{TITLE1}</h2>
		<p>Author : {NAME}</p>
		<p>	Age : {AGE}</p>
		<p> Sex : {SEX}</p>
		<p> Email : {EMAIL}</p>
	</b>
	<hr>
</div>

<!-- <hr> -->

<div >
	<div>May 10 2019</div>
	<h2>{TITLE2}</h2>
	<p >
		{CONTENT2}
	</p>
	<p>Shankle beef ribs tongue strip steak flank landjaeger capicola hamburger chuck pancetta kevin. Sirloin landjaeger chicken, bresaola brisket swine short ribs turkey short loin ball tip porchetta ham hock. Capicola frankfurter jowl short loin. Kevin flank hamburger, beef venison shankle short loin bresaola frankfurter</p>
	<p>Bresaola short ribs pastrami, beef ribs spare ribs kielbasa ham tongue kevin landjaeger chicken ball tip. Pork chop beef kevin strip steak, chicken pork belly pastrami ham hock flank shoulder chuck turkey ribeye andouille ball tip. Leberkas ham ham hock pork loin. Filet mignon bacon pancetta leberkas turducken fatback tongue frankfurter jowl. Shoulder tenderloin chicken shank bacon shankle sirloin.</p>
</div>

</body>
</html>